/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: 'Helvetica', sans-serif;
 }

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.main-logo {
  font-size: 24px;
  color: #2DBE60;
}

.session-links > a:last-child {
  margin-left: 40px;
}

/* Notes Page */

.notes-index-container {
  height: 100%;
  width: 350px;
}

.notes-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 10px;
  height: 100px;
  border-bottom: 1px solid #ececec
}

.notes-header > * {
  color: #878787;
  font-weight: 300;
}

.notes-header > h1 {
  font-size: 22px;
}

.notes-header > h3 {
  font-size: 14px;
  font-weight: 400;
  color: #ababab;
}

.note-list-item {
  height: 150px;
  padding: 10px 20px;
}

.note-title {
  font-family: Times, serif;
  font-size: 16px;
  font-weight: 400;
  color: #4a4a4a;
  margin-bottom: 4px;
}

.note-updated {
  margin-bottom: 8px;
}

.note-updated, .note-body {
  font-size: 12px;
  color: #878787;
  font-weight: 400;
}